<div class="navbar navbar-default" style="margin-bottom: 0px;">
  <a class="dropdown-toggle navbar-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 0px; margin-bottom: 0px;">
    <img src="assets/imgs/logo_medium.png" alt="SpinalCom" style="height: 42px;margin-top: 4px;" />
    <span style="vertical-align: sub;">Drive</span>
    <span class="caret" ng-if="connected"></span>
  </a>
  <ul class="dropdown-menu" ng-if="connected">
    <menu-glayout info="layouts"></menu-glayout>
    <li role="separator" class="divider" ng-if="layouts.length != 0"></li>
    <li>
      <a ng-click="logout()">Disconnect</a>
    </li>
  </ul>
  <ng-md-icon ng-if="connected" class="navbar-text navbar-right" icon="person" size="42px" style="margin: 0;margin-top: 3px;"></ng-md-icon>
  <div ng-if="connected" class="navbar-text navbar-right">{{username}}</div>
</div>