<!DOCTYPE html>
<html lang="en"
      style="background-color: #292929;overflow: hidden;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <base href="/html/viewer-annotations/">
  <link href="css/css.compile.css"
        rel="stylesheet"
        type="text/css" />
  <link rel="stylesheet"
        href="assets/lib/spectrum.css" />
  <link href="assets/style.css"
        rel="stylesheet"
        type="text/css" />
  <title>Viewer</title>
</head>

<body>
  <div ng-app="SpinalApp"
       style="height: 100%;">
    <navbar></navbar>
    <ng-view></ng-view>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp"
                md-component-id="right"
                ng-cloak>
      <div ng-controller="RightMenuCtrl">
        <md-toolbar class="md-theme-light">
          <section layout="row"
                   layout-sm="row"
                   layout-align="center center"
                   layout-wrap>
            <div class="md-toolbar-tools"
                 style="width: 80%;"> {{username}}</div>
            <md-button class="md-fab"
                       aria-label="btn.label"
                       style="height: 40px; width: 40px;"
                       ng-click="close()">
              <ng-md-icon icon="menu"
                          style="fill:black; height: 24px;"
                          class=""></ng-md-icon>
            </md-button>
          </section>
        </md-toolbar>
        <md-content layout-padding>
          <md-list ng-cloak>
            <md-list-item ng-repeat="menu in menuList"
                          ng-click="menu.action($event)">
              <p> {{ menu.name }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-content>
      </div>
    </md-sidenav>
  </div>

  <script src="js/spinalcore.browser.js"></script>
  <script type="text/javascript"
          src="js/lib.compile.min.js"></script>

  <script type="text/javascript"
          src="js/browser.forgefile.js"></script>

  <link href="assets/lib/style.min.css"
        rel="stylesheet" />
  <script src="assets/lib/three.min.js"></script>
  <script src="assets/lib/viewer3D.min.js"></script>


  <script type="text/javascript"
          src="assets/lib/Autodesk.ADN.Viewing.Extension.Color.js"></script>
  <script type="text/javascript"
          src="assets/lib/panelClass.js"></script>
  <script type="text/javascript"
          src="assets/lib/spectrum.js"></script>

  <script src="js/app.compile.min.js"></script>
  <script src="../lib/spinal-lib-viewer-annotations-env.js"></script>
</body>

</html>