/* 


body {
    margin: 0;
    padding-bottom: 20px !important;
}


#MyViewerDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F0F8FF;
}

.panelViewer, .card, .list-group-item {
    background-color: #434545 !important;
}

.dockingPanel {
    height: auto;
    width: auto;
    min-width: 400px;
    height: 80%;
    top: 0;
    max-width: 50%;
    color: #fff;
    font-size: 1.2em;
    resize: both;
} 

.panelViewer a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
}

.panelViewer a:hover {
    color: #bb5050;
}


.card {
    border: 0px !important;
}




.btn {
    margin: 0px !important;
    background-color: #434545 !important;
    cursor: pointer;
}

.spin {
    margin-top: 10px;
    margin-bottom: 10px;
}

i {
    color : #fff;
}

.icon {
    background-color: rgba(34,34,34,.9);
    border: 1px solid rgba(34,34,34,.9);
}

.i_btn {
    min-width : 30px !important;
}

.header {
    width: 100%;
    height: 25%;
    position: relative;
}

#allList {
    width: 100%;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.allItems {
    width : 100%;
    height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px dashed #7E8282;
}

.noteTitle {
    text-transform: uppercase;
}

.noteTitle:hover {
    cursor: pointer;
}

._container {
    width: 100%;
    height: 80%;
}

.div_notes {
    width: 100%;
    height : 200px;
    border: 1px solid #F0F8FF;
    overflow: scroll;
}

.messageContainer {
    width: 100%;
    height: 79%;
    margin-bottom: 10px;
    border: 1px solid #F0F8FF;
    overflow: scroll;
}

.form_div {
    width: 100%;
    height: 14%;

}

.textarea_div {
    margin-bottom: 5px;
}

.content {
    width: 100%;
    height: 100%;
}

.message_div {
    width : 100%;
    min-height: 80px;
    margin-bottom: 10px !important;
}

._message {
    width : 100%;
    min-height: 60px;
    overflow: auto;
}


.message_date {
    width: 100%;
    text-align: right;
    height: 20px;
    color : #7E8282;
}

.message_owner {
    width: 15%;
    height: 40px;
    float: left;
}

.message_content {
    width: 80%;
    min-height: 60px;
    float: right;
    background: #7e8282;
    padding: 5px;
}

.message_texte {
    width : 100%;
    min-height: 50px;
    text-align: justify;
    color : black;
}

.close_div {
    width: 100%;
    height: 30px;
    text-align: right;
    color: #fff;
}




.file_panel_content {
    width: 100%;
    height: 100%;
}

.dragDrop {
    width: 100%;
    height: 100px;
}

.files_div {
    width: 100%;
    height: 455px;
    overflow-x: hidden;
    overflow-x: auto;
}


.modal-new-dropzone-input {
    position: fixed;
    top: -1000;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: scroll;
    ;
    position: absolute;
    z-index: -1;
  }
  
  .modal-new-dropzone-input+label {
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
    height: 100px;
    width: 100%;
    outline: 2px dashed white;
    vertical-align: middle;
    float: none;
  }

  #i_color {
      background: #434545;
      border: 0px;
  }

 */
