<md-dialog aria-label="Edit Password" style="width: 65%;max-width: 800px;">
  <md-toolbar style="background-color:black;">
    <div class="md-toolbar-tools">
      <h2 style="color: white;">Modify Password</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="close" style="fill:white;" aria-label="Close dialog" class=""></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <!-- <div class="md-dialog-content"> -->
    <md-card>
      <md-card-content layout="row" layout-align="center">
        <form name="passwordForm" ng-submit="changePasswordSubmit(passwordForm, change_password)" style="width: 100%;">
          <md-input-container class="md-block">
            <label>Current Password</label>
            <input type="{{passwordInputType}}" ng-model="change_password.currentPassword" name="currentPassword" required>
            <div ng-messages="passwordForm.currentPassword.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>New Password</label>
            <input type="{{passwordInputType}}" ng-model="change_password.password" name="password" required>
            <div ng-messages="passwordForm.password.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confim new Password</label>
            <input type="{{passwordInputType}}" ng-model="change_password.confirm_password" name="confirmPassword" required compare-to="change_password.password">
            <div ng-messages="passwordForm.confirmPassword.$error" class="form-errors first-name-error">
              <div ng-message="required">This is required.</div>
              <div ng-message="compareTo">Password fields do not match!</div>
            </div>
          </md-input-container>
          <md-dialog-actions layout="row" style="padding-left: 0;">
            <md-button class="md-fab" aria-label="viewpassword" style="height: 40px; width: 40px;" ng-mousedown='showPassword()' ng-mouseup="hidePassword() "
              ng-mouseleave="hidePassword()">
              <md-tooltip>Show password</md-tooltip>
              <ng-md-icon icon="remove_red_eye" style="fill:white;" aria-label="view password" class=""></ng-md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-fab" aria-label="Confirm" style="height: 40px; width: 40px;" ng-disabled="passwordForm.$invalid" ng-click="changePasswordSubmit(passwordForm, change_password)">
              <md-tooltip>Confirm</md-tooltip>
              <ng-md-icon icon="done" style="fill:white;" aria-label="Confirm" class=""></ng-md-icon>
            </md-button>
          </md-dialog-actions>
        </form>
      </md-card-content>
    </md-card>
    <!-- </div> -->
  </md-dialog-content>

</md-dialog>