<div class="navbar navbar-expand" style="margin : 0px; padding : 0;">

  <div>
    <a class="navbar-text" aria-haspopup="true" aria-expanded="false" style="margin-top: 0px; margin-bottom: 0px;">
      <img src="assets/imgs/logo_medium.png" alt="SpinalCom" style="height: 42px;margin-top: 4px;" />
      <!-- <span class="caret" ng-if="connected"></span> -->
    </a>
    <div style="position : absolute; right: 0;">
      <ng-md-icon ng-if="connected" class="navbar-text navbar-right" ng-click="clickUser()" icon="person" size="42px" style="margin: 0;margin-top: 3px;"></ng-md-icon>
      <div ng-if="connected" class="navbar-text navbar-right">{{username}}</div>
    </div>

  </div>