<md-toolbar class="md-theme-light">
  <section layout="row"
           layout-sm="row"
           layout-align="right center"
           layout-wrap
           style="height: 64px;">
    <a style="margin-top: 0px; margin-bottom: 0px;">
      <img src="assets/imgs/logo_medium.png" alt="SpinalCom" style="height: 42px;margin-top: 4px;" />
      <span class="caret" ng-if="connected"></span>
    </a>
    <div flex></div>
    <h2>
      {{path}}
      <md-tooltip>{{fullPath}}</md-tooltip>
    </h2>
    <div flex></div>
    <div ng-if="connected"
         style="right:0;">
      <span style="vertical-align: sub;">{{username}}</span>
      <md-button class="md-fab"
                 aria-label="btn.label"
                 style="height: 40px; width: 40px;"
                 ng-click="clickUser()">
        <ng-md-icon icon="person"
                    style="fill:white; height: 24px;"
                    class=""></ng-md-icon>
      </md-button>

    </div>
  </section>
  </section>
</md-toolbar>