
.modal-new-cont {
  padding: 1em 0.5em 0 0.5em;
}

.modal-new-head {
  text-align: center;
}

.modal-new-head-div {
  display: inline-block;
  margin-bottom: .5em;
  /*padding: 0 .125em !important;*/
  width: 32%
}

.modal-new-head-btn {
  width: 100%;
  white-space: normal !important;
}

.modal-new-dropzone-input {
  position: fixed;
  top: -1000;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: scroll;
  ;
  position: absolute;
  z-index: -1;
}

.modal-new-dropzone-input+label {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  display: inline-block;
  height: 300px;
  width: 100%;
  outline: 2px dashed black;
  /*outline-offset: -10px;*/
  vertical-align: middle;
  float: none;
  /*
  display: inline;
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;*/
}


/*.modal-new-dropzone-input:focus + label,
.modal-new-dropzone-input + label:hover {
    background-color: red;
}*/


/*.modal-new-dropzone-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}*/

.modal-new-span-upload {
  display: inline-block;
  /*width: 30%;*/
  vertical-align: top;
  /*vertical-align: middle;*/
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 999999 !important;
}.moduleapp-title {
  padding: 5px 0;
  color: black;
  text-align: center;
  border: 2px;
  background-color: #f59c1a;
  font-weight: 300;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.module-app {
  background-color: white;
}

.separator-nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.app-btn {
  overflow: hidden;
  padding: 6px 1px;
  width: 95%;
}

.app-btn-container {
  padding: 0;
  text-align: center;
  margin-bottom: 4px;
}

.app-container {
  background-color: #d9e0e7;
  font-weight: 300;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 5px 4px;
}.jstree-contextmenu {
  z-index: 99999;
}

.node {
  cursor: pointer;
}

.overlay {
  background-color: #EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 600px;
  vertical-align: top;
  overflow: auto;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.search_input {
  z-index: 99;
  padding: 5px 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(26, 34, 41, 0.9);
}

.label-modal {
  display: inline-block;
  width: 30%;
  text-align: left;
}